version: "3.9"

services:

  trading-bot:

    container_name: pi42-bot

    build:
      context: .
      dockerfile: Dockerfile

    restart: unless-stopped

    ports:
      - "5000:5000"

    environment:
      API_KEY: ${API_KEY}
      SECRET_KEY: ${SECRET_KEY}

    command: sh -c "python bot.py & python web.py"
